body {
    background-color: rgb(36, 114, 204);
}

.container {
    color: white;
}

#navbar {
    border-style: outset;
    border-color: aqua;
}

.navbar-brand {
    font-weight: bold;
    width: 145px;
    height: 45px;
    text-align: center;
}

h1 {
    margin: 32px;
}

.row {
    color: black;
    background-color: lightgrey;
    text-align: left;
    margin: 0px;
    padding: 12px;
    padding-bottom: 48px;
    margin-bottom: 12px;
    border-style: outset;
    border-color: aqua;
}

img {
    float: left;
    margin: 22px;
    margin-top: 0px;
    height: 520px;
    width: 400px;
}

p {
    padding: 0px;
}

.row2 {
    background-color: darkgrey;
}